{%
  set classes = []
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content.frontend_editing }}
    {% embed 'adesso_cms_theme:logo-collection' with { title: content.field_title|render, content: content, pre_headline: content.field_pre_headline } only %}
      {% block logo_items %}
        {% for i in content.field_media_item['#items'] %}
          <span class="flex justify-center items-center">
              {{ content.field_media_item[loop.index0] }}
          </span>
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
