{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [] %}
{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content.frontend_editing }}
    {% include 'adesso_cms_theme:newsletter-form' with {
      pre_headline: paragraph.field_pre_headline.value,
      title: paragraph.field_title.value,
      summary: content.field_summary,
      is_dark: is_dark ? true : false,
    } only %}
  {% endblock %}
</div>
</div>
