
<h2 id="accordion-flush-heading-{{ item.accordion_instance }}">
  <button type="button" class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200"
          data-accordion-target="#accordion-flush-body-{{ item.accordion_instance }}"
          aria-expanded="{{ item.is_expanded ? 'true' : 'false' }}"
          aria-controls="accordion-content-{{ item.accordion_instance }}"
          id="accordion-trigger-{{ item.accordion_instance }}"
  >
    <span>{{ item.heading }}</span>
    <svg data-accordion-icon=""
         class="w-6 h-6 rotate-180 shrink-0"
         fill="currentColor"
         viewBox="0 0 20 20"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd">
      </path>
    </svg>
  </button>
</h2>
<div id="accordion-flush-body-{{ item.accordion_instance }}"
     class="{{ item.is_expanded ? '' : 'hidden' }}" aria-labelledby="accordion-flush-heading-{{ item.accordion_instance }}"
     data-accordion-content>
  <div class="py-5 border-b border-gray-200 prose-p:mb-2 prose-p:text-gray-500">
    {% block accordion_content %}
      {{ item.body }}
    {% endblock %}
    {% if item.link %}
      <a href="{{ url }}" class=" whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none
        focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none text-primary">
        {{ item.link.title }}
      </a>
    {% endif %}
  </div>
</div>
