{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="min-h-dvh flex flex-col">
  {# Check if first paragraph is a video background hero #}
  {% set has_video_hero = false %}
  {% if page.content %}
    {% for element in page.content %}
      {% if element['#paragraph'] and element['#paragraph'].bundle == 'hero' %}
        {% set hero_layout = element['#paragraph'].field_hero_layout.value %}
        {% if hero_layout == 'video_background' %}
          {% set has_video_hero = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# Header with separate left and right regions #}
  {% if not has_video_hero and (page.header_left or page.header_right) %}
    <header class="site-header bg-white border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700" role="banner">
      <div class="mx-auto max-w-screen-xl px-4 lg:px-6 py-2.5">
        <div class="flex items-center justify-between">
          
          {# Left side: Logo Block #}
          <div class="flex items-center">
            {% if page.header_left %}
              {{ page.header_left }}
            {% endif %}
          </div>

          {# Right side: Navigation, Search, etc. #}
          <div class="flex items-center gap-4">
            {% if page.header_right %}
              {{ page.header_right }}
            {% endif %}
          </div>
          
        </div>
      </div>
    </header>
  {% endif %}

  {# Live region for navigation state announcements #}
  <div id="nav-announcements" class="sr-only" aria-live="polite" aria-atomic="true"></div>

  {# Highlighted Region #}
  {% if page.highlighted %}
    <div class="highlighted-region">
      {{ page.highlighted }}
    </div>
  {% endif %}

  {# Main Content #}
  <main role="main" id="main-content" class="flex-1" tabindex="-1">
    <div id="content" class="layout-content">
      {{ page.content }}
    </div>
  </main>

  {# Footer Region - uses site-footer component #}
  {% if page.footer %}
    {{ page.footer }}
  {% endif %}

</div>{# /.layout-container #}
