{#
/**
 * @file
 * Default theme implementation to display a slider paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode of this paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('adesso_cms_theme/swiper') }}
{# Manual CDN loading as fallback #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.frontend_editing }}

    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="flex flex-col items-center justify-center">
      {% if content.field_pre_headline %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: content.field_pre_headline,
            as: 'span',
            custom_classes: 'mb-4 text-2xl text-center font-bold tracking-tight leading-none text-gray-900'
          }
        } %}
      {% endif %}

      {% if content.field_title %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: content.field_title,
            as: 'h2',
            custom_classes: 'text-3xl font-bold text-center'
          }
        } %}
      {% endif %}
      </div>
      {# Build processed slider items array #}
      {% set items = [] %}
      {% if content.field_slider_item %}
        {% for key, item in content.field_slider_item %}
          {# Only process numeric keys (rendered paragraph items) #}
          {% if key matches '/^\\d+$/' %}
            {# Add the rendered slider item content #}
            {% if item %}
              {% set items = items|merge([item]) %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="max-w-[1536px] mx-auto  mt-6">
        {% include "adesso_cms_theme:slider" with {
          items: items,
        } %}
      </div>
    </div>
  {% endblock %}
</div>
</div>