{#
/**
 * @file
 * Theme override to display a footer menu block.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
    'block',
    'block-menu',
    'block-menu--footer',
  ]
%}

<nav{{attributes.addClass(classes)}} role="navigation" aria-label="{{ 'Footer menu'|t }}">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {# Menu content #}
  {{ content }}
</nav>
