{% import "@adesso_cms_theme/hero/macros/hero_macros.twig" as hero %}

<div class="hero bg-white dark:bg-gray-900 {{ modifier }}">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">

    {% if hero_layout == 'image_top' and media %}
      <div class="mb-4 lg:mb-8 flex justify-center items-center max-w-[1536px] mx-auto">
        {{ media }}
      </div>
    {% endif %}

    {{ hero.pre_headline(pre_headline) }}
    {{ hero.heading(heading) }}
    {{ hero.text(text) }}
    {{ hero.buttons(link, link2) }}

    {% if hero_layout == 'image_bottom' and media %}
      <div class="mt-6 lg:mt-12 flex justify-center items-center max-w-[1536px] mx-auto">
        {{ media }}
      </div>
    {% endif %}

    {% if hero_layout == 'image_bottom_split' and media %}
      <div class="mt-6 lg:mt-12 flex justify-center items-center">
        {{ media }}
      </div>
    {% endif %}
  </div>
</div>
