{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{# Determine form type and apply appropriate styling #}
{% set is_webform = attributes.hasClass('webform-submission-form') %}
{% set is_preview = attributes.hasClass('node-preview-form-select') %}

{% if is_webform %}
  <form{{ attributes.addClass([
    'webform',
    'p-6',
    'md:p-8',
    'space-y-6'
  ]) }}>
    {{ children }}
  </form>
{% elseif is_preview %}
  <form{{ attributes.addClass('container') }}>
    {{ children }}
  </form>
{% else %}
  <form{{ attributes.addClass('mb-5 max-w-xl mx-auto') }}>
    {{ children }}
  </form>
{% endif %}
