{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'container',
  'my-4',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set allowed_heading_levels = ['h1', 'h2', 'h3', 'h4', 'h5'] %}

<section{{ attributes.addClass(classes) }}>
  <div class="{% if content_width == 'narrow' %}max-w-4xl mx-auto{% else %}w-full{% endif %}">
    {% if preheadline %}
      <p class="text-sm">{{ preheadline }}</p>
    {% endif %}

    {% if heading_level in allowed_heading_levels %}
      <{{ heading_level }} class="text-2xl font-bold mb-2">{{ headline }}</{{ heading_level }}>
    {% else %}
      <h2 class="text-2xl font-bold mb-2">{{ headline }}</h2>
    {% endif %}

  {% if subheadline %}
    <p class="text-lg mt-2 mb-4">{{ subheadline }}</p>
  {% endif %}
</section>
</div>
