
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('adesso_cms_theme/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    <div class="grid">
      <div class="grid grid-cols-subgrid gap-y-4 col-span-full lg:size-lg">
        <div class="col-span-full md:col-span-2">
          <div class="overflow-hidden rounded-full">
            {{ include('@components/picture.html.twig', {
              attributes: create_attribute()
                .setAttribute('src', '/' ~ directory ~ '/images/Mitwirkende_Fallback.png')
                .setAttribute('width', '174')
                .setAttribute('height', '174')
                .setAttribute('alt', 'Mitwirkende Standardbild')
            }) }}
          </div>
        </div>
        <div class="col-span-full md:col-span-10 lg:col-span-6">
          <h3 class="text-3xl leading-8 font-semibold mb-3">{{ label }}</h3>
          <div class="flex items-center">
            <div class="text-blue-70 text-sm">
              {{ content.field_institution }}
            </div>
          </div>
          <ul class="space-y-2 mt-6 list-none not-prose">
            {{ content.field_phone_number }}

            {{ content.field_contact_email }}

            {% set address %}
              {{ content.field_street }} {{ content.field_street_number }}
              <br>
              {{ content.field_zipcode }} {{ content.field_city }}
            {% endset %}
            {{ include('@eab_2024/field/field--field-address.html.twig', {
              label_hidden: true,
              items: [{content: address}],
              url: false,
            }) }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
