{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{# Energiekonzepte #}
{% set text_energyconcept %}
  {# Energienutzungsplan (ENP) #}
  {% if content.field_energy_use_plan['#items'].value != 'no' %}
    {{ content.field_energy_use_plan }}
    {{ content.field_energy_use_plan_year }}
    {{ content.field_energy_use_plan_created_by }}
    {{ content.field_energetic_partial_concepts }}
    {{ content.field_estimated_proportion_area }}
    {% if content.field_enp_interkommunaler_zusamm['#items'].value == 'yes' %}
      {{ content.field_enp_municipality }}
    {% endif %}
    {{ content.field_enp_website_summary }}
  {% endif %}

  {# Klimaschutzkonzept #}
  {% if content.field_climate_protection_concept['#items'].value != 'no' %}
    {{ content.field_climate_protection_concept }}
    {{ content.field_ksk_year }}
    {{ content.field_ksk_description }}
    {{ content.field_ksk_website_summary }}
  {% endif %}

  {# CO₂-Bilanz #}
  {% if content.field_carbon_footprint['#items'].value != 'no' %}
    {{ content.field_carbon_footprint }}
    {{ content.field_co2_year }}
    {{ content.field_co2_description }}
    {# TODO: Add link with fancy external icon #}
    {{ content.field_co2_website_summary }}
  {% endif %}

  {# Energiekonzept der ländlichen Entwicklung #}
  {% if content.field_energy_concept_rural_dev['#items'].value != 'no' %}
    {{ content.field_energy_concept_rural_dev }}
    {{ content.field_ekle_year }}
    {{ content.field_ekle_description }}
    {# TODO: Add link with fancy external icon #}
    {{ content.field_ekle_website_summary }}
  {% endif %}
{% endset %}
{# Netzwerke #}
{% set text_network %}
  {# Klima-Bündnis e.V. #}
  {% if content.field_joined_klima_buendnis_e_v['#items'].value == '1' %}
    {{ content.field_joined_klima_buendnis_e_v }}
    {{ content.field_joining_klima_buendnis_e_v }}
  {% endif %}

  {# Konvent der Bürgermeister #}
  {% if content.field_kdb_membership['#items'].value == '1' %}
    {{ content.field_kdb_membership }}
    {{ content.field_kdb_member }}
  {% endif %}

  {# European Energy Award #}
  {% if content.field_eea_certification['#items'].value == '1' %}
    {{ content.field_eea_certification }}
    {{ content.field_eea_year }}
    {{ content.field_europ_e_award }}
    {{ content.field_eea_award }}
  {% endif %}

  {# Interkommunale Zusammenarbeit - Field template handles H3 heading #}
  {{ content.field_ikz_description }}
  {{ content.field_ikz_website_summary }}
{% endset %}
{# Energieeffizienz #}
{% set text_efficiency %}
  {% if content.field_em_social_infrastructure|render|trim is not empty
    or content.field_em_street_lighting|render|trim is not empty %}
    {{ include('@components/h3.html.twig', {
      content: 'Maßnahmen zur energetischen Modernisierung',
      attributes: create_attribute(),
    }) }}
    {{ content.field_em_social_infrastructure }}
    {{ content.field_em_street_lighting }}
  {% endif %}

  {{ content.field_climate_protection_measure }}

  {{ content.field_municipal_energy_mgmt }}
  {{ content.field_energy_saving_contracting }}
  {{ content.field_contracting_partner }}
  {% if content.field_cogeneration['#items'].value != 'no' %}
    {{ content.field_cogeneration }}
    {{ content.field_kwk_description }}
  {% endif %}

  {% if content.field_energy_coaching['#items'].value != 'no' %}
    {{ content.field_energy_coaching }}
  {% endif %}

{% endset %}
{# Ausbauziele erneuerbare Energien #}
{% set text_renewables %}
  <p>
  {{ content.field_aee_concepts_planning.0['#text'] }} <br>
  {{ content.field_aee_website_summary }}
  </p>
  {{ content.field_par_expension_goals }}

  {{ content.field_member_regional_coop }}

  {% if content.field_bioenergy_village['#items'].value == '1'
    or content.field_bioenergy_region['#items'].value == '1'
    or content.field_100ee_region['#items'].value is not null
  %}
    {{ include('@components/h3.html.twig', {
      content: 'Kommune ist ein/e',
      attributes: create_attribute(),
    }) }}
    {% if content.field_bioenergy_village['#items'].value == '1' %}
      {{ content.field_bioenergy_village }}
    {% endif %}
    {% if content.field_bioenergy_region['#items'].value == '1' %}
      {{ content.field_bioenergy_region }}
    {% endif %}
    {{ content.field_100ee_region }}
  {% endif %}

  {# Nah-/Fernwärmenetz - Field template handles H3 heading #}
  {% if content.field_heat_networks['#items'].value == 'yes' %}
    {{ content.field_heat_networks_description }}
  {% endif %}

  {# Abfall-/Abwasser-/Trinkwasserversorgung - Field template handles H3 heading #}
  {% if content.field_waste_water_supply['#items'].value == 'yes' %}
    {{ content.field_waste_water_supply_descr }}
  {% endif %}
{% endset %}
{# Kommunale Angebote #}
{% set text_communes %}
  {% if content.field_solar_area_cadastre['#items'].value != 'no' %}
    {{ content.field_solar_area_cadastre_web }}
  {% endif %}

  {{ content.field_contact_energy_questions }}

  {% if content.field_advice_information.0 != 'no' and content.field_advice_information_descr %}
    {{ content.field_advice_information }}
    {{ content.field_advice_information_descr.0['#text'] }}
    {{ content.field_advice_information_need }}
  {% endif %}

  {{ content.field_funding_programs }}
  {{ content.field_tax_communal_offers_awards }}

  {% if content.field_green_mobility.0 != 'no' %}
    {{ content.field_green_mobility }}
    {{ content.field_green_mobility_description.0['#text'] }}
    {{ content.field_green_mobility_website }}
  {% endif %}
  {% if content.field_energy_climate_protection.0 != 'no' and content.field_energy_climate_initiatives.0 %}
    {{ content.field_energy_climate_protection }}
    {{ content.field_energy_climate_initiatives }}
  {% endif %}
{% endset %}

{% set quicklinks = [] %}
{% if text_energyconcept|render|trim is not empty %}
  {% set quicklinks = quicklinks|merge([{url: '#energiekonzepte', title: 'Energiekonzepte'}]) %}
{% endif %}
{% if text_network|render|trim is not empty %}
  {% set quicklinks = quicklinks|merge([{url: '#netzwerke', title: 'Netzwerke'}]) %}
{% endif %}
{% if text_efficiency|render|trim is not empty %}
  {% set quicklinks = quicklinks|merge([{url: '#energieeffizienz', title: 'Energieeffizienz'}]) %}
{% endif %}
{% if text_renewables|render|trim is not empty %}
  {% set quicklinks = quicklinks|merge([{url: '#ausbauziele', title: 'Ausbauziele erneuerbare Energien'}]) %}
{% endif %}
{% if text_communes|render|trim is not empty %}
  {% set quicklinks = quicklinks|merge([{url: '#kommunale_angebote', title: 'Kommunale Angebote'}]) %}
{% endif %}

{{ attach_library('adesso_cms_theme/node') }}
<article {{ attributes.addClass(classes) }}>
  {# Unset attributes to prevent it being used in included templates #}
  {% set attributes = create_attribute() %}

  <div{{ content_attributes.addClass('node__content') }}>
    {% set uri %}
      {{- url('entity.node.canonical', {'node': node.id}, {'absolute': true}) -}}
    {% endset %}
    {% set socialShare %}
      {{ include('@eab_2024/misc/social-share-menu.html.twig', {
        'uri': uri,
        'node': node
      }) }}
    {% endset %}

    {% set title %}
      {{ title_prefix }}
      {{ include('@components/h2.html.twig', {
        content: label,
        as: 'h1',
        attributes: create_attribute(),
      }) }}
      {{ title_suffix }}
    {% endset %}

    {% set overline %}
      {{ include('@components/overline.html.twig', {
        items: ['Energiewende vor Ort']
      }) }}
    {% endset %}

    {{ include('@module/stage.html.twig', {
      'picture': content.field_map,
      'overline': overline,
      'title': title,
      'socialShare': socialShare
    }) }}

    {{ content.field_tax_commune }}

    {{ include('@eab_2024/misc/menu-quicklinks.html.twig', {
      quicklinks: quicklinks,
    }) }}
    {% if text_energyconcept|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'energiekonzepte',
        headline: 'Energiekonzepte',
        text: text_energyconcept,
      }) }}
    {% endif %}
    {% if text_network|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'netzwerke',
        headline: 'Netzwerke',
        text: text_network,
      }) }}
    {% endif %}
    {% if text_efficiency|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'energieeffizienz',
        headline: 'Energieeffizienz',
        text: text_efficiency,
      }) }}
    {% endif %}
    {% if text_renewables|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'ausbauziele',
        headline: 'Ausbauziele erneuerbare Energien',
        text: text_renewables,
      }) }}
    {% endif %}
    {% if text_communes|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'kommunale_angebote',
        headline: 'Kommunale Angebote',
        text: text_communes,
      }) }}
    {% endif %}
    {% if content.field_awards|render|trim is not empty %}
      {{ include('@eab_2024/misc/ea-section.html.twig', {
        anchor: 'auszeichnungen',
        headline: 'Auszeichnungen',
        text: content.field_awards,
      }) }}
    {% endif %}

    {# TODO: Put in Mitwirkende template #}
    {{ content.field_contact }}
  </div>
</article>
