{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 * {{ dump(content.field_image_link[0]['#title']) }}
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'media',
  'media--type-' ~ media.bundle()|clean_class,
  not media.isPublished() ? 'media--unpublished',
  view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {% set link = content.field_image_link[0]['#title'] %}
    <a href="{{ link }}" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400 prose-img:w-8">
      {{ content.field_media_image }}
    </a>
  {% endif %}
</div>
