{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if component.slots or component.props %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">{{ 'Name'|t }}</th>
          <th scope="col" class="px-6 py-3">{{ 'Label'|t }}</th>
          <th scope="col" class="px-6 py-3">{{ 'Type'|t }}</th>
          <th scope="col" class="px-6 py-3">{{ 'Description'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for slot_id, slot in component.slots %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <code>{{ slot_id }}</code>
            </td>
            <td class="px-6 py-4">{{ slot.title }}</td>
            <td class="px-6 py-4">{{ 'Slot'|t }}</td>
            <td class="px-6 py-4">{{ slot.description }}</td>
          </tr>
        {% endfor %}
        {% for prop_id, prop in component.props.properties %}
          {% if prop_id != 'attributes' and prop_id != 'variant' %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <code>{{ prop_id }}</code>
              </td>
              <td class="px-6 py-4">{{ prop.title }}</td>
              <td class="px-6 py-4">{{ prop.ui_patterns.type_definition.label }}</td>
              <td class="px-6 py-4">
                {%- for line in prop.ui_patterns.summary -%}
                  {{- line -}}
                  <br>
                {%- endfor -%}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
