{%
  set classes = []
%}
{% set is_dark = paragraph.field_content_element_theme.value %}
{%
  set link = content.field_link[0] ? {
    url: content.field_link[0]['#url']|render,
    title: content.field_link[0]['#title']|render,
  } : {}
%}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{{ title_suffix }}

	{% block content %}

    {{ content.frontend_editing }}
		{%
      include 'adesso_cms_theme:sidebyside' with {
        title: content.field_title|render,
        text: content.field_summary|render,
        is_dark: is_dark,
        pre_headline: content.field_pre_headline|render,
        link: link,
        media: content.field_media,
        layout: content.field_sidebyside_layout['#items'].getString() ?? 'left',
        features: features
      } only
    %}
	{% endblock %}
</div>
</div>
