{# 
/** 
 * @file
 * Accordion item paragraph template using slot-based architecture
 */
#}

{% set is_expanded = false %}

{{ title_prefix }}
{{ title_suffix }}

{% embed 'adesso_cms_theme:accordion-item' with {
  "accordion_instance": paragraph.id(),
  "is_expanded": is_expanded
} only %}
  {% block title %}
    {{ content.field_title }}
  {% endblock %}
  {% block content %}
    <div class="accordion-content">
      {{ content.field_body }}
      {% if content.field_link %}
        <div class="accordion-action mt-4">
          {{ content.field_link }}
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}
