{%
  set classes = []
%}
{% set is_dark = paragraph.field_content_element_theme.value %}
{{ is_dark }}
<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{{ title_suffix }}
	{% block content %}
        {{ content.frontend_editing }}
		{% include 'adesso_cms_theme:hero' with {
      hero_layout: content.field_hero_layout['#items'].getString(),
      media: content.field_media|render,
      is_dark: content.field_content_element_theme,
      pre_headline: content.field_pre_headline|render,
      heading: content.field_heading|render,
      text: content.field_summary|render,
      is_dark: is_dark,
      link: content.field_link[0]['#url'] ? {
        url: content.field_link[0]['#url']|render,
        title: content.field_link[0]['#title']|render,
      } : {},
      link2: content.field_link2[0]['#url'] ? {
        url: content.field_link2[0]['#url']|render,
        title: content.field_link2[0]['#title']|render,
      } : {},
    } only %}
	{% endblock %}
</div>
