{#
/**
 * @file
 * Card group paragraph template using paragraph-wrapper component with embed pattern.
 */
#}

{# Card group paragraph configuration #}
{% include '@adesso_cms_theme/_mixins/paragraph-config.twig' %}

{# Embed the paragraph-wrapper component using slots #}
{% embed 'adesso_cms_theme:paragraph-wrapper' with { 
  theme: wrapper_theme, 
  spacing: wrapper_spacing, 
  tag: wrapper_tag, 
  className: wrapper_css_class, 
  attributes: attributes 
} %}
  {% block prefix %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endblock %}
  
  {% block content %}
    {% embed 'adesso_cms_theme:card-group' with { 
      is_dark: wrapper_theme == 'dark', 
      content: content, 
      columns: content.field_card['#items']|length ~ '' 
    } only %}
      {% block section_title %}{{ content.field_title }}{% endblock %}
      {% block pre_headline %}{{ content.field_pre_headline }}{% endblock %}
      {% block card_items %}
        {% for i in content.field_card['#items'] %}
          <div class="col-sm-6 col-lg-4 mb-4">{{ content.field_card[loop.index0] }}</div>
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
