{%
  set classes = []
%}

{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.frontend_editing }}
    {%
      include 'adesso_cms_theme:embed' with {
        pre_headline: content.field_pre_headline|render,
        title: content.field_title|render,
        sub_headline: content.field_sub_headline|render,
        embed: content.field_script|render,
      } only
    %}
  {% endblock %}
</div>
</div>
