{% set is_dark = paragraph.field_content_element_theme.value %}
{% set classes = [] %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content.frontend_editing }}
    {% embed 'adesso_cms_theme:pricing' with {
      content: content,
      pre_headline: paragraph.field_eyebrow.value,
      title: paragraph.field_title.value,
      summary: content.field_summary,
      grid_columns: content.field_pricing_cards['#items']|length|default(3) ~ '',
      is_dark: is_dark ? true : false,
    } only %}
      {% block pricing_cards %}
        {{ content.field_pricing_cards }}
      {% endblock pricing_cards %}
    {% endembed %}
  {% endblock %}
</div>
</div>
