{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = []
%}
{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.frontend_editing }}
    
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      {% if content.field_pre_headline %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: content.field_pre_headline|render|striptags,
            as: 'span',
            visual_level: '3',
            custom_classes: 'block mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 text-center'
          }
        } %}
      {% endif %}
      
      {% if content.field_title %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: content.field_title|render|striptags,
            as: 'h2',
            custom_classes: 'text-3xl font-bold mb-8 text-center'
          }
        } %}
      {% endif %}

      {%
        include 'adesso_cms_theme:media' with {
          media: content.field_media,
        } only
      %}
    </div>
  {% endblock %}
</div>
</div>
