
{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    {{ content.frontend_editing }}
    {%
      include 'adesso_cms_theme:text' with {
        text_layout: paragraph.field_text_layout.value ?? 'left',
        title: paragraph.field_title.value,
        is_dark: is_dark ? true : false,
        pre_headline: paragraph.field_pre_headline.value,
        body: content.field_body,
        link: content.field_link[0]['#url'] ? {
          url: content.field_link[0]['#url']|render|striptags,
          text: content.field_link[0]['#title']|render|striptags,
        } : {},
        link2: content.field_link2[0]['#url'] ? {
          url: content.field_link2[0]['#url']|render|striptags,
          text: content.field_link2[0]['#title']|render|striptags,
        } : {},
      } only
    %}
  </div>
  {% endblock %}
</div>
</div>

